body {
    margin: 0%;
    background-color: hsl(177, 55%, 85%);
}





header {
    background-color: hsl(113, 86%, 72%);
    text-align: center;
    padding: 10px;
    margin:0px;

}
footer{
    background-color: hsl(113, 86%, 72%);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin:0px;
    margin-top: 300px;
}
main{
    text-align: center;
    
    border: 2px solid  ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 400px;
    padding: 20px;
    background-color: azure;
    border-radius: 10px;

}
h5 {
      background-color:hsl(113, 94%, 50%);
      font-size: 20px;
}
button{
    background-color: rgb(118, 118, 199);
    padding: 10px;
    border-radius: 10px;
}